modules = ["nodejs-20", "postgresql-16", "python-3.11"]
[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Dev Server"

[[workflows.workflow]]
name = "Dev Server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 3000

[[ports]]
localPort = 3001

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 36119
externalPort = 3000

[[ports]]
localPort = 39753

[[ports]]
localPort = 41445

[[ports]]
localPort = 43359

[[ports]]
localPort = 43659

[[ports]]
localPort = 43677

[[ports]]
localPort = 43831

[[ports]]
localPort = 44295

[[ports]]
localPort = 44483

[[ports]]
localPort = 44983

[[ports]]
localPort = 45553

[[ports]]
localPort = 46503
externalPort = 3001

[nix]
channel = "stable-25_05"
packages = ["cairo", "ffmpeg-full", "freetype", "ghostscript", "glibcLocales", "gobject-introspection", "gtk3", "jq", "libuuid", "lsof", "pkg-config", "qhull", "tcl", "tk"]

[userenv]

[userenv.development]
USE_WS_OVERRIDE = "true"

[userenv.production]
PORT = "5000"
NODE_ENV = "production"

[deployment]
run = ["npm", "start"]
deploymentTarget = "vm"
build = ["npm", "run", "build"]
