modules = ["nodejs-20", "postgresql-16"]
[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "KimpAI Dev Server"

[[workflows.workflow]]
name = "KimpAI Dev Server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 3000
externalPort = 5173

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 32857
externalPort = 6800

[[ports]]
localPort = 35309
externalPort = 3002

[[ports]]
localPort = 35409
externalPort = 3001

[[ports]]
localPort = 38013
externalPort = 8008

[[ports]]
localPort = 39269
externalPort = 3000

[[ports]]
localPort = 39753
externalPort = 3003

[[ports]]
localPort = 41445
externalPort = 8000

[[ports]]
localPort = 43359
externalPort = 6000

[[ports]]
localPort = 44295
externalPort = 5000

[[ports]]
localPort = 44983
externalPort = 4200

[nix]
channel = "stable-25_05"
packages = ["lsof"]
